@charset "utf-8";

/* CSS for Happy Treckers Site */

html{
    box-sizing:  border-box;
    display: block;
    
}

body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    background-color: #054829;
    max-width: 1200px;
    

}

main{
    color: black;
    
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    /* max-width: 1270px;
    min-width: 1000px; */
    background-color: rgb(255, 255, 255);
    
    
}

nav ul{
    list-style: none;
    /* display: inline-block; */
    float:right;
    margin-top: 46px;
    margin-bottom: 46px;
    padding-right: 40px;
    padding-left: 0px;

}

nav li{
    display: inline;
    /* list-style: none; */
    border: 5px;
    border-radius: 5px;
    padding: 15px;
    background-color: #603813;
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}

nav a:link, a:visited{
    text-decoration: none;
    
}

nav li:hover{
    color: rgb(255, 255, 255);
    background-color: #056839;
    box-shadow: #034c2a6f 0px 5px 60px;
}

nav{
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 110px;
}

#mobile_links ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #F5D5AE;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mobile_links a{
    list-style: none;
    text-align: center;
    background-color: #603813;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 7px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgb(94, 94, 94) 3px 3px 6px;
    color: #f7e5d0;
    font-size: 20px;
}


/* .mobile_menu{
    background-color: aqua;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 70;
    font-size: 50px !important;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}


.bib_track{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-left: -200px;
    left: 50%;
    position: absolute; */

}

.where_we_walk{
    background-color: #F5D5AE;
    height: 500px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    text-align: center;
    padding: 10px;
    background-color: #EEEEEE;
    color: #603813;
    width: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: rgb(94, 94, 94) 3px 3px 5px;

}

h2{
    text-align: center;
    color: #EEEEEE;
    background-color: #242424;
    padding: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgb(27, 27, 27) 3px 4px 4px;
    font-size: 22.5px;
}

#rect1{
    background-color: #333333;
    height: 280px;
    width: 450px;
    /* border: 10px; */
    border-radius: 30px;
    float: left;
    margin-left: 20px;
    

}

#rect2{
    background-color: #333333;
    height: 280px;
    width: 450px;
    /* border: 10px; */
    border-radius: 30px;
    float: right;
    margin-right: 20px;
    
    

}

.logo{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.happy_trekkers{
    height: 90px;
    margin-top: 10px;
    margin-left: 20px;

}

@media only screen and (max-width: 820px) {
    nav ul {
      display: none;
    }

    nav{
        height: 80px;
    }


    .happy_trekkers{
        height: 76%;
    }

    .where_we_walk{
        height: 820px;
    }

    h1{
        font-size: 35px;
        text-align: center;
        width: 300px;
    }

    #rect1{
        margin: auto;
        width: 95%;
        /* correct for responsiveness */
        padding: 10px;
        margin-bottom: 10px;
        padding-left: 8px;

    }

    #rect2{
        width: 95%;
        margin: auto;
        padding: 10px;
        padding-left: 8px;
    }
  }

  @media only screen and (min-width: 821px) {
    .topnav{
        display: none;
    }

    #hamburger{
        display: none;

    }


    
    
    } 



















  .topnav {
    position: relative;
  }
  
  .topnav #mobile_links {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  

 
  
  .active {
    background-color: #04AA6D;
    color: white;
  }




